html
  head
    title='CICD Page'
    link(rel='Click here' href='http://google.com')
  body
    div.container
      div.jumbotron
        h1 Hello I am on page one now
        p   click the button to go to Moon
        p   Do you I am running from CI CD
